{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Contacts" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li><a href="{% url 'contacts' %}">{% trans "Contacts" %}</a></li>
{% endblock breadcrumb %}

{% block branding %}
<h1 id="site-name" xmlns="http://www.w3.org/1999/html"><a href="{% url 'admin:index' %}">Saleor Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
{% endblock %}


{% block content %}
<div class="row">
    <h2>Доставка</h2>
</div>
<div class="row">
    <div class="col-sm-8">
        <p> Всички моторни масла, автомобилни добавки и автомобилни филтри в
нашият магазин се доставят чрез куриерска фирма Еконт по стандартните им
тарифи.
        </p>
        <p>
            При поръчки на стойност над 149.99 лв, доставката до офис на Еконт Ви е
безплатна.
        </p>
        <p>
            Eкипът на Ей Пи 1 приема поръчки всеки ден. Поръчките се обработват и
изпращат в работни дни. Поръчки, постъпили в почивни дни и на официални
празници, се обработват и изпращат в първия работен ден след това.
        </p>
        <p>
            Всички поръчки на налични двигателни масла, филтри и добавки,
постъпили до 14:00ч. в делничен ден, се обработват и изпращат в деня на
получаване им.
        </p>
        <p>
            Всички поръчки на налични двигателни масла, филтри и добавки,
постъпили след 14:00ч. в делничен ден, се обработват и изпращат до края на
следващият работен ден. Изключение правят поръчки на двигателни масла,
филтри и добавки, чиято наличност в склада е изчерпана. Тогава клиентът се
уведомява и се уговаря срок.
        </p>
        <p>
            Възможна е доставка в рамките на град София, след предварителна
уговорка на някой от следните телефони: 0876 00 15 65,  0876 00 15 66
        </p>
    </div>
</div>
{% endblock %}
