{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}


{% block title %}
    {% trans "Offices" %}
        - {% trans 'Load offices from file' %}
    - {{ block.super }}
{% endblock %}

{% block body_class %}body-shipping-offices{% endblock %}

{% block menu_offices_class %} active{% endblock %}

{% block page_title %}
    {% trans 'Load offices from file' %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs breadcrumbs--with-menu">
        <li><a href="{% url 'dashboard:countries-list' %}"
               class="breadcrumbs--ellipsed-item">{% trans "Offices" %}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post" id="form-offices">
        {% csrf_token %}

        <div class="row">
            {{ shipping_offices_form|materializecss }}
        </div>

        <div class="row">
            <div class="col s12 right-align">
                <a href="{% url 'dashboard:shipping-offices-list' %}"
                   class="btn-flat">{% trans "Cancel" %}</a>
                <button type="submit" class="btn">{% trans "Load" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
