{% load i18n %}
{% load gross from prices_i18n %}
{% load discount_amount_for from prices %}

{% block content %}{% blocktrans %}
    Hi!

    Thank you for your order.{% endblocktrans %}

    {% for group in groups %}
        <table>
            {% for item in group %}
                <tr>
                    <td>{{ item.product }}{% if item.quantity != 1 %} × {{ item.quantity }}{% endif %}  </td>
                    <td>{% gross item.get_total %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Shipping</td>
                <td>{% gross group.shipping_price %}</td>
            </tr>
            {% if order.discount_amount %}
                <tr>
                    <td>{{ order.discount_name }}</td>
                    <td>{% gross order.discount|discount_amount_for:order.total %}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Total</td>
                <td>{% gross order.total %}</td>
            </tr>
        </table>
    {% endfor %}
    <br/>
    {% blocktrans %}You can see order details on our {% endblocktrans %}
    <a href="http://ap1shop.com/order/{{ order.token }}/">{% trans "website" %}</a>
    {% blocktrans %}

        <br/><br/>
        Sincerely,<br/>
        AP1 Ltd. Team
    {% endblocktrans %}
{% endblock %}
